.admin-item-card {
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  font-family: sans-serif;
}
.admin-item-card img {
  width: 80%;
  align-self: center;
  text-align: center;
  margin: auto;
}
.admin-item-card h2 {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
  color: black;
  text-align: center;
}
.admin-item-card p {
  font-size: 15px;
  margin-top: 10px;
  font-weight: 500;
}
.admin-item-card .fa-x {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
}
.admin-item-card .fa-x:hover {
  color: red;
}
