* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.home {
  width: 100vw;
  /* background-color: rgb(23, 0, 44); */
  background-color: white;
  color: white;
}
h1 {
  font-size: 32px;
  font-weight: 600;
  columns: black;
}
